In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')


# Ajustar opciones de visualizaci√≥n
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Cargar el DataFrame desde un archivo .pkl
df = pd.read_json(r'datasets/yelp_academic_dataset_business.json', lines=True)


df.head(1)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturopathic/Holistic, Acupuncture, Health & Medical, Nutritionists",None

In [2]:
df.shape

(150346, 14)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB

In [4]:
df = df.applymap(lambda x: str(x) if isinstance(x, dict) else x)
df = df.drop_duplicates()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 17.2+ MB

In [6]:
# Dividimos el DataFrame en dos: uno con las columnas originales y otro con las duplicadas
df_original = df.iloc[:, :14]
df_duplicado = df.iloc[:, 14:]

# Reemplazamos los valores faltantes en df_original con los valores de df_duplicado
for col in df_original.columns:
    df_original[col].fillna(df_duplicado[col], inplace=True)

# Eliminamos las columnas duplicadas
df = df_original

KeyError: 'business_id'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150343 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 17.2+ MB

In [ ]:
"""# Condici√≥n 1: state es 'FL'
mask_state = df['state'] == 'FL'

# Condici√≥n 2: la columna 'categories' contiene el string 'Restaurants'
# Usamos el m√©todo str.contains() y aseguramos que no haya NaNs usando fillna("")
mask_restaurants = df['categories'].fillna("").str.contains('Restaurants')

# Condici√≥n 3: la columna 'city' es 'Miami'
#mask_city = df['city'] == 'Miami'

# Combinamos todas las condiciones con el operador "and" (&)
combined_mask = mask_state & mask_restaurants #& mask_city

# Filtramos el DataFrame
filtered_df = df[combined_mask]
"""
# Importando la librer√≠a necesaria
from uszipcode import SearchEngine

# Inicializa el buscador
search = SearchEngine()

# Obtiene una lista de todos los c√≥digos postales de Florida
zipcodes_florida = search.by_state("Florida", returns=0)

# Extrae las ciudades √∫nicas
cities_florida = set([zipcode.major_city for zipcode in zipcodes_florida])
cities_florida_lower = [city.lower() for city in cities_florida]

# Filtra el DataFrame usando la lista de ciudades
mask = df['city'].str.lower().isin(cities_florida_lower)
filtered_df = df[mask]

In [ ]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24916 entries, 13 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   24916 non-null  object
 1   name          24916 non-null  object
 2   address       24916 non-null  object
 3   city          24916 non-null  object
 4   state         24916 non-null  object
 5   postal_code   24916 non-null  object
 6   latitude      24916 non-null  float64
 7   longitude     24916 non-null  float64
 8   stars         24916 non-null  float64
 9   review_count  24916 non-null  int64
 10  is_open       24916 non-null  int64
 11  attributes    22464 non-null  object
 12  categories    24893 non-null  object
 13  hours         21597 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 2.9+ MB

In [ ]:
filtered_df.head(1)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
13,jaxMSoInw8Poo3XeMJt8lQ,Adams Dental,15 N Missouri Ave,Clearwater,FL,33755,27.966235,-82.787412,5.0,10,1,{'ByAppointmentOnly': 'True'},"General Dentistry, Dentists, Health & Medical, Cosmetic Dentists","{'Monday': '7:30-15:30', 'Tuesday': '7:30-15:30', 'Wednesday': '7:30-15:30', 'Thursday': '7:30-15:30'}"

In [ ]:
# Configura pandas para mostrar la salida completa
pd.set_option('display.max_rows', None)

# Obtiene y ordena los valores √∫nicos de la columna 'city'
unique_values = sorted(filtered_df['city'].unique())

for city in unique_values:
    print(city)

# Muestra el total de valores √∫nicos de la columna 'city' en filtered_df
print("\nTotal de valores √∫nicos:", len(unique_values))

Apollo Beach
Apollo beach
Apopka
BRANDON
Belleair Beach
Bradenton
Bradenton Beach
Brandon
Bristol
Brooksville
CLEARWATER
CLEARWATER BEACH
Clarksville
ClearWater
Clearwater
Clearwater Beach
Clermont
DUNEDIN
Dade City
Delray Beach
Dover
Dunedin
Dunnellon
Gibsonton
Greenville
Greenwood
Gretna
HUdson
Hampton
Holiday
Hollywood
Hudson
Indian Rocks Beach
Jennings
Key Largo
LARGO
LITHIA
Lakeland
Land O Lakes
Land o Lakes
Land o lakes
Largo
Lithia
Lutz
MADISON
Madison
Mulberry
NEW PORT RICHEY
New Port Richey
Odessa
Oldsmar
PINELLAS PARK
Palm Harbor
Palm harbor
Palmetto
Pinellas Park
Pinellas park
Plant City
Port Richey
RIVERVIEW
Riverview
Rockledge
Ruskin
SAINT PETERSBURG
SEMINOLE
Safety Harbor
Saint Petersburg
San Antonio
Sarasota
Seffner
Seminole
Spring HIll
Spring Hill
Sun City Center
TAMPA
TARPON SPRINGS
TRENTON
Tampa
Tarpon Springs
Tarpon springs
Thonotosassa
Titusville
Trenton
VALRICO
Valrico
Wesley Chapel
Wesley chapel
Westville
Wimauma
Zephyrhills
clearwater
land o lakes
largo
lutz
riverview
saint petersburg
spring hill
tampa
wesley chapel
wimauma

Total de valores √∫nicos: 100

In [ ]:
#filtered_df.to_csv('business.csv', index=False)

In [ ]:
filtered_df.head(1)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
13,jaxMSoInw8Poo3XeMJt8lQ,Adams Dental,15 N Missouri Ave,Clearwater,FL,33755,27.966235,-82.787412,5.0,10,1,{'ByAppointmentOnly': 'True'},"General Dentistry, Dentists, Health & Medical, Cosmetic Dentists","{'Monday': '7:30-15:30', 'Tuesday': '7:30-15:30', 'Wednesday': '7:30-15:30', 'Thursday': '7:30-15:30'}"